Nanna <nanhe@itu.dk> Nhelge <nanhe@itu.dk>
Nanna <nanhe@itu.dk> Nhelge <nanna.helge@gmail.com>
Nanna <nanhe@itu.dk> Nanna <nanna.helge@gmail.com>

Victor <vitr@itu.dk> victortroelsen <vitr@itu.dk>
Victor <vitr@itu.dk> Victor Troelsen <vitr@itu.dk>
Victor <vitr@itu.dk> VictorTroelsen <vitr@itu.dk>

Alex <alhh@itu.dk> Alexander Hvalsøe Holst <alhh@itu.dk>
Alex <alhh@itu.dk> alhhITU <alhh@itu.dk>

Nick <nkch@itu.dk> <nkc@itu.dk>

Carl <caps@itu.dk> ColdButCozy <carlph.steuch@hotmail.dk>
Carl <caps@itu.dk> Carl Steuch <caps@itu.dk>

LLM <none> ChatGPT
LLM <none> ChatGPT <chatgpt@openai.com>

HackMD <37423+hackmd-hub[bot]@users.noreply.github.com>
Mathias Johnbeck <bamj@itu.dk>